aiohttp==3.6.2
aiohttp-cors==0.7.0
aiohttp-debugtoolbar==0.5.0
aiohttp-devtools==0.13.1
aiohttp-jinja2==1.2.0
aiohttp-session[secure]==2.8.0
aiohttp-swagger==1.0.14
pydantic==1.0
git+https://github.com/metricq/aiocouch@b7d018c6b92f8953c0b045ed6f25bedb85340fc0#egg=aiocouch
metricq
